// @file Comments Styles

/**
 * Comments
 */
#comments {

}

.comment-list {
	list-style-type: none;
	margin: 0 0 1.5em 0;
	padding: 0;
	.comment {
		border-bottom: 1px solid $grayscale-color-3;
	}
}