// @file Layout Styles

/* 2.1 Root Elements */
html {
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
}

html,
body {
	height: 100%;
}

/* 2.2 Header */
@import "_header";

/* 2.3 Structure */
#page {
	margin: 0 auto;
	width: 90%;
}

#content {
	@include clearfix();
	#primary {
		float: left;
		width: 70%;
	}
	#secondary {
		float: right;
		width: 30%;
	}
}

/* 2.4 Footer */
@import "_footer";