// @file Layout Styles

/**
 * Table Of Contents ( layout.scss ):
 *
 * 1.0 - Root Elemnets
 * 2.0 - Structure Elements
 */

/* 1.0 Root Elements */
html {
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
}

html,
body {
	height: 100%;
}

/* 2.0 Structure Elements */
#page {
	margin: 0 auto;
	width: 90%;
}

#content {
	@include clearfix();
	#primary {
		float: left;
		width: 70%;
	}
	#secondary {
		float: right;
		width: 30%;
	}
}