// @file Typography Styles

body,
button,
input,
select,
textarea {
	color: $base-color;
	font-family: $base-font-stack;
	line-height: $base-line-height;
	@include rem(font-size, 1.6);
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: $heading-margin;
}
h1,
h1 a {
	@include rem(font-size, 2.6);
	&.site-title {
		a {

		}
	}
	&.entry-title {
		a {

		}
	}
	&.widget-title {

	}
}
h2 {
	@include rem(font-size, 2.4);
	&.comments-title {

	}
}
h3 {
	@include rem(font-size, 2.2);
	&.reply-title {

	}
}
h4 {
	@include rem(font-size, 2);
}
h5 {
	@include rem(font-size, 1.8);
}
h6 {
	@include rem(font-size, 1.6);
}
p {
	line-height: $text-element-line-height;
	margin-bottom: 1.5em;
	.entry-summary & {

	}
	.entry-content & {

	}
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}