/**
 * @file Widget Styles
 */

/**
 * Table Of Contents ( widgets.scss ):
 *
 * 1.0 - Global
 * 2.0 - Archives
 * 	2.1 - List
 * 	2.2 - Dropdown
 * 3.0 - Calendar
 * 4.0 - Categories
 * 	4.1 - List
 * 	4.2 - Dropdown
 * 5.0 - Pages
 * 6.0 - Meta
 * 7.0 - Recent Comments
 * 8.0 - Recent Entries
 * 9.0 - RSS
 * 10.0 - Search
 * 11.0 - Text
 * 12.0 - Tag Cloud
 * 13.0 - Nav Menu
 */

/* 1.0 Global Widget Styles */
.widget {
	margin: 0 0 1em 0;
	.widget-title {

	}
	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* 2.0 Widget Archive */
.widget_archive {
	.widget-title {

	}
}

/* 2.1 List */
.widget_archive {
	ul {
		li {
			a {

			}
		}
	}
}

/* 2.2 Dropdown */
.widget_archive {
	select {
		option {

		}
	}
}

/* 3.0 Widget Calendar */
.widget_calendar {
	.widget-title {

	}
}

.widget_calendar {
	table {
		caption {

		}
		tr {

		}
		td {
			.pad {

			}
			#prev {

			}
			#next {

			}
		}
		thead {
			th {

			}
		}
		tbody {
			td {

			}
		}
		tfoot {
			td {

			}
		}
	}
}

/* 4.0 Widget Categories */
.widget_categories {
	.widget-title {

	}
}

/* 4.1 List */
.widget_categories {
	ul {
		li {
			&.cat-item {

			}
			a {

			}
		}
	}
}

/* 4.2 Dropdown */
.widget_categories {
	select {
		option {

		}
	}
}

/* 5.0 Widget Pages */
.widget_pages {
	.widget-title {

	}
}

.widget_pages {
	ul {
		li {
			&.page_item {

			}
			a {

			}
		}
	}
}

/* 6.0 Widget Meta */
.widget_meta {
	.widget-title {

	}
}

.widget_meta {
	ul {
		li {
			a {

			}
		}
	}
}

/* 7.0 Widget Recent Comments */
.widget_recent_comments {
	.widget-title {

	}
}

.widget_recent_comments {
	ul#recentcomments {
		li {
			a {

			}
		}
	}
}

/* 8.0 Widget Recent Entries */
.widget_recent_entries {
	.widget-title {

	}
}

.widget_recent_entries {
	ul {
		li {
			a {

			}
		}
	}
}

/* 9.0 Widget RSS */
.widget_rss {
	.widget-title {

	}
}

.widget_rss {
	ul {
		li {
			a.rsswidget {

			}
			.rss-date {

			}
			.rssSummary {

			}
			cite {

			}
		}
	}
}

/* 10.0 Widget Search */
.widget_search {
	.widget-title {

	}
}

.search-form {
	label {
		span {

		}
		input {

		}
	}
	.search-submit {
		display: none;
	}
}

/* 11.0 Widget Text */
.widget_text {
	.widget-title {

	}
}

.widget_text {
	.textwidget {
		p {

		}
	}
}

/* 12.0 Widget Tag Cloud */
.widget_tag_cloud {
	.widget-title {

	}
}

.widget_tag_cloud {
	.tagcloud {

	}
}

/* 13.0 Widget Nav Menu */
.widget_nav_menu {
	.widget-title {

	}
}

.widget_nav_menu {
	ul {
		li {
			a {

			}
		}
	}
}